@model ProtocoloTeste.Models.ProtocoloFollow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProtocoloFollow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocolo.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoAcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoAcao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdFollow">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
